:host {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

main {
  flex-grow: 1;
  padding: 1rem 2.4rem;
  position: relative;
}

.floors {
  position: absolute;
  top: 2rem;
  left: 3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 0;
}

.floors li {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 1px solid #8b8b8bb0;
  cursor: pointer;
  color: #0c2a76;
  font-weight: 600;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.floors li:hover {
  background-color: #2864f630;
  border: 1px solid #2864f650;
}

.floors li.selected {
  transform: scale(1.1);
  background-color: #2864f670;
  border: none;
}

.add {
  padding: 0.6rem;
}

.add svg {
  width: 100%;
  height: 100%;
}

.save {
  position: absolute;
  right: 3rem;
  top: 2rem;
}

.save:disabled {
  opacity: 0.5;
  cursor: default;
}

button,
.load-file {
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #2864f6;
  border-radius: 0.6rem;
  transition: 0.3s;
}

button:hover,
.load-file:hover {
  background-color: #1f56d6;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 32rem;
  margin: 8rem auto;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-upload {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.file-input {
  display: none;
}

.file-drop-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 16rem;
  border: 2px dashed #c0c0c0;
  border-radius: 8px;
  text-align: center;
  color: #8c8c8c;
  font-size: 1rem;
  cursor: pointer;
}

.file-drop-area:hover {
  border-color: #007bff;
}

