#svg_container {
  height: 100%;
}

::ng-deep .floormap {
  width: 100%;
  height: 100%;
}

::ng-deep .apartment {
  fill: gray;
}

::ng-deep .area path {
  fill: white;
  transition: fill 0.2s;
  stroke: none;
  transition: fill 0.2s;
}

::ng-deep .entrance path {
  fill: #ff7777;
  transition: fill 0.2s;
  stroke: 1px solid #000;
  stroke-width: 1px;
}

::ng-deep .window path {
  fill: #a2b5ff;
  transition: fill 0.2s;
  stroke: 1px solid #000;
  stroke-width: 1px;
}

::ng-deep .area path:hover {
  fill: #cacaca;
}

::ng-deep .entrance path:hover {
  fill: #ff3737;
}

::ng-deep .window path:hover {
  fill: #5a7bff;
}

.context-menu {
  position: fixed;
  left: 20rem;
  top: 10rem;
  padding: 0.4rem 0;
  width: 10rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 800;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 6px #00000050;
}

.context-menu div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  margin-bottom: 0.4rem;
}

.context-menu div button {
  width: 0.8rem;
  height: 0.8rem;
}

.context-menu p {
  font-size: 0.9rem;

  font-weight: 500;
}

.context-menu ul {
  margin: 0;
  list-style: none;
  flex-direction: column;
  padding: 0;
}

.context-menu li {
  margin: 0 0.4rem;
  padding: 0.4rem 0.4rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #5a7bff;
  color: #ffffff;
}