:host {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

main {
  position: relative;
  flex-grow: 1;
  padding: 1rem 2.4rem;
}

.floors {
  position: absolute;
  top: 2rem;
  left: 3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 0;
}

.floors li {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 1px solid #8b8b8bb0;
  cursor: pointer;
  color: #0c2a76;
  font-weight: 600;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.floors li:hover {
  background-color: #2864f630;
  border: 1px solid #2864f650;
}

.floors li.selected {
  transform: scale(1.1);
  background-color: #2864f670;
  border: none;
}

.no-floors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.no-floors p {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 2rem 0;
}

.no-floors button {
  width: 100%;
  padding: 0.8rem;
  background-color: #2864f6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 12rem;
}
