@for (item of systemReaction.detectorsReaction; track $index) {
    <div class="detector-reaction">
      <div class="flex-box">
        <div>
          <div class="floor-number">
            Floor №: {{ getFloorNumber(item) }}
          </div>
          <img
            src="icons/{{ item.detector.type.toLowerCase() }}.svg"
            class="detector-icon"
          />
        </div>
        <div>
          <div class="detector-type">
            {{ item.detector.type.toLowerCase() }}
          </div>
          <div class="reaction-time">
            {{ item.detectorReactionTime | date : 'MMM dd HH:mm:ss' }}
          </div>
        </div>
      </div>
      <div class="reaction-text">
        {{ item.detectorAnswer }}
      </div>
    </div>
    }
    