<app-navbar />
<main>
  @if (!floors()) {
  <app-load-spinner-alt />
  } @else {
  <ul class="floors">
    @for (floor of floors(); track $index) {
    <li
      [ngClass]="{
        selected: activeFloor === floor.floorNumber,
        pinged: floorPinged(floor.floorNumber)
      }"
      [id]="floor.floorNumber"
      (click)="changeFloor($event)"
    >
      {{ floor.floorNumber }}
    </li>
    }
  </ul>
  @for (item of floors(); track $index) { @if (activeFloor === item.floorNumber)
  {
  <app-building-schema [floor]="item" [mode]="'view'" />
  } }
  <app-logger />
  }
</main>
