:host {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

main {
  position: relative;
  flex-grow: 1;
  padding: 1rem 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

app-building-schema {
  flex-grow: 1;
  height: 80%;
  margin-left: 2rem;
}

app-logger {
  min-width: 24rem;
  max-width: 24rem;
  flex-grow: 1;
  height: 100%;
}

.floors {
  position: absolute;
  top: 2rem;
  left: 3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 0;
}

.floors li {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 1px solid #8b8b8bb0;
  cursor: pointer;
  color: #0c2a76;
  font-weight: 600;
  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.floors li:hover {
  background-color: #2864f630;
  border: 1px solid #2864f650;
}

.floors li.selected {
  transform: scale(1.1);
  background-color: #2864f670;
  border: none;
}

