<app-navbar />
<main>
  <ul class="floors">
    @for (floor of floors(); track $index) {
    <li
      [ngClass]="{ selected: activeFloor === floor.floorNumber }"
      [id]="floor.floorNumber"
      (click)="changeFloor($event)"
    >
      {{ floor.floorNumber }}
    </li>
    }
  </ul>
  @for (item of floors(); track $index) { @if (activeFloor === item.floorNumber)
  {
  <app-building-schema [floor]="item" [mode]="'view'" />
  } }
  <div class="logger-box">
    <app-logger />
    <div class="button-control">
      <button class="custom-button run">Run</button>
      <button class="custom-button stop">Stop</button>
    </div>
  </div>
</main>
