:host {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

main {
  flex-grow: 1;
  padding: 1rem 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

app-building-schema {
  width: 50%;
}

app-logger {
  height: 30rem;
  width: 16rem;
}

