<div class="container">
    <div class="document-style">
        <h2>Вимоги до формування плану будівлі у SVG форматі</h2>
        <h3>Критичні вимоги</h3>
        <ol>
            <li>
                Кожен графічний об’єкт файлу повинен бути створений з допомогою неперервної лінії.
            </li>
            <li>
                Кожен графічний об’єкт файлу повинен містити ідентифікатор, котрий може починатися з наступних ключових слів:
                <ul>
                    <li>
                        apartment – загальна площа(фундамент) будинку
                    </li>
                    <li>
                        area – кімната в будинку
                    </li>
                    <li>
                        entrance – двері внутрішні або зовнішні
                    </li>
                    <li>
                        window – вікно будинку
                    </li>
                </ul>
            </li>
            <li>
                Стіни будинку формувати не треба, кожна стіна формується за рахунок зазору між зовнішньою стороною кімнати і
                внутрішньою стороною загальної площі.
            </li>
        </ol>
        
        <h3>Додаткові вимоги</h3>
        <ol>
            <li>
                Кожен об’єкт будинку повинен мати конкретний колір для кращого розпізнавання, системою рекомендується використання
                наступних кольорів:
                <ul>
                    <li>
                        #a8a8a8 – для apartment
                    </li>
                    <li>
                        #ffffff – для area
                    </li>
                    <li>
                        #ef6b6b – для entrance
                    </li>
                    <li>
                        #6b9eef – для window
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>

