<div class="modal-container">
  <h2>Welcome back!</h2>
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <label for="email"
      >Email address @if (email.invalid && (email.touched || email.dirty)) {
      <div class="alert email">
        @if (email.errors?.['required']) { Email is required } @else if
        (email.errors?.['email']) { Wrong email }
      </div>
      }
    </label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="loginInfo.email"
      placeholder="name@email.com"
      required
      email
      #email="ngModel"
    />

    <label for="password"
      >Password @if (password.invalid && (password.touched || password.dirty)) {
      <div class="alert password">
        @if (password.errors?.['required']) { Password is required }@else if
        (password.errors?.['minlength']) { Password must be at least 8 symbols }
        @else if (password.errors?.['pattern']) { Wrong password }
      </div>
      }
    </label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="loginInfo.password"
      placeholder="Password"
      required
      minlength="8"
      pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])[A-Za-z0-9!?#$.,=+\-_]+$"
      #password="ngModel"
    />

    <div class="checkbox-container">
      <label><input type="checkbox" /> Remember me</label>
      <a>Forgot password?</a>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>

  <div class="footer-text">
    Don't have an account? <a routerLink="/signup">Register</a>
  </div>
  @if (isLoading) {
    <app-load-spinner />
  }
</div>

