.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26rem;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #00000040;
}

.modal-container h2 {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.modal-container label {
  position: relative;
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0.2rem;
  opacity: 0.7;
}

.modal-container label .alert {
  position: absolute;
  color: #b91e1e;
  right: 0;
  top: 0;
}

.modal-container input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #00000050;
  cursor: text;
}

.modal-container button {
  width: 100%;
  padding: 0.8rem;
  background-color: #2667ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-container button:disabled {
  opacity: 0.5;
  cursor: default;
}

.modal-container button:hover {
  background-color: #1f56d6;
}

.modal-container button:disabled:hover {
  background-color: #2667ff;
}

.modal-container .footer-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9em;
}

.modal-container .footer-text a {
  color: #2667ff;
  text-decoration: none;
}

.modal-container .footer-text a:hover {
  text-decoration: underline;
}
